.main {
  padding: 50px;
  height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
}

.productsButton {
  border: none;
  cursor: pointer;
  background-color: #9ad7fc;
  height: 30px;
  width: 30px;
}

.productsContainer {
  display: flex;
  flex-direction: space-between;
}
